
.blog-img{
	height: 200px;
}
.app-screen-img{
  height: 160px;
}
.cv-item {
    padding: 10px 0 40px 0;
    border-bottom: 1px solid #dadada;
    margin: 0 0 50px 80px;
}
.period {
    float: right;
    padding: 12px 20px;
    background-color: #c9c9c9;
    color: #fff;
    font-size: 18px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    text-transform: uppercase;
}